<div id="headerwrap" id="home" name="home" style="background-image: url(assets/chicago4.jpg);">
			<header class="clearfix">
	  		 		<img class="img-responsive logo" src="assets/official logo.png"/>
	  		 		<p>Thank you for signing up!</p>
	  		 		<p> You will hear from us shortly </p>
	  		</header>	    
	    </div>